#inventory {
    fill: #000;
    background-color: #ffffff0d;
    position: absolute;
    top: 50;
    left: 10;
    width: 500px;
    height: 500px;
    z-index: 1;
    filter: blur(.4px);
    
  }

  
