#pause {
  position: absolute;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.548);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

#pause h1 {
  color: #fff;
  font-size: 100px;
}

#controls {
  color: #fff;
  position: absolute;
  left: 10;
  bottom: 10;
  font-size: 2em;
}

#controls h2{
  text-transform: uppercase;
  text-align: center;
  letter-spacing:7px;
}

#controls ul {
  /* list-style-type: none; */
  line-height: 150%;
}
