#pause {
  position: absolute;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.548);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden{
  display: none !important;
}

#pause h1{
  color: #fff;
  font-size: 100px;

}
