body {
    margin: 0;
    overflow: hidden;
    width: 100px;
    height: 100px;


}

#overlay {
    background: rgba(200,200,200,0.5);

    width: 80%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    box-shadow: 0 0 50px 100px #555;

}